<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <header>
        <a href="/">Enter User</a>
        |
        <a href="/users">Users</a>
    </header>
    <% if(users.length> 0) {%>
        <h1>Users</h1>
        <ul>
            <% for(let user of users) { %>
                <li>
                    <%= user.username %>
                </li>

                <% } %>
        </ul>
        <% } else { %>
            <h1>No Users Found</h1>
            <% } %>
</body>

</html>