
    <form action="/cart" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">Add To Cart</button>
        <input type="hidden" name="productID" value="<%= product._id %>">
    </form>